body{
    background-image: url(imagen/acuarela.jpg);
    background-size: cover;
}

#cabecera{
    margin-top: 50px;
    /*centrar imagen centro*/
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio{
    text-align:center;
    background-color:transparent;
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-top: 50px;

}

.btn{
    cursor: pointer;
    text-align: center;
    margin: 5px; /*margen entre botones*/
    padding: 0;
    color:rgb(41, 40, 40);
    font-weight: bold;
    font-size: 1em; /*tamaño letra dentro de botones*/
    border: none;
    border-color: transparent;
    border-style: ridge;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.btn:hover{
    background-color: rgb(204, 79, 175);
    color: whitesmoke;
}
h2{
    text-align: center; 
    font-weight: bold;
    margin-top: 40px;
    font-size: 200px;
    font: small-caps 100%/200% serif;
    font-size: 20px;
    /*font-family: "Curier New";*/
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: black;
    margin-top: 30px;
}

#nombre{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: purple;
    font-family: fantasy;
    font-size: 20px;
    text-transform: uppercase;
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#imagen{
    margin-top: 35px;
    /*centrar imagen centro*/
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

#descripcion{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: rgb(0, 76, 16);
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20px;
}

.cesta{
    cursor: pointer;
    text-align: center;
    padding: 0;
    font-weight: bold;
    border: none;
    border-color: transparent;
    border-style: ridge;
    border-radius: 10px;
    background-color: transparent;
    margin-left: 10px;

}

.cesta:hover{
    background-color: rgb(247, 247, 247);
}

.redessociales{
    margin-top: 35px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    cursor: pointer;
    text-align: center;
    padding: 0;
    font-weight: bold;
    border: none;
    border-color: transparent;
    border-style: ridge;
    border-radius: 10px;
    background-color: transparent;

}

.red:hover{
    background-color: rgb(255, 163, 221);

}
