body{
    background-image: url(imagen/acuarela.jpg);
    background-size: cover;
}

#cabecera{
    margin-top: 35px;
    /*centrar imagen centro*/
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio{
    text-align:center;
    background-color:transparent;
    font-family: garamont;
    margin-top: 50px;

}
.redessociales{
    margin-top: 35px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    cursor: pointer;
    text-align: center;
    padding: 0;
    font-weight: bold;
    border: none;
    border-color: transparent;
    border-style: ridge;
    border-radius: 10px;
    background-color: transparent;

}

.red:hover{
    background-color: rgb(255, 163, 221);

}

.btn{
    cursor: pointer;
    text-align: center;
    margin: 5px; /*margen entre botones*/
    padding: 0;
    color:rgb(41, 40, 40);
    font-weight: bold;
    font-size: 1em; /*tamaño letra dentro de botones*/
    border: none;
    border-color: transparent;
    border-style: ridge;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover{
    background-color: rgb(204, 79, 175);
    color: whitesmoke;
}

h2{
    text-align: center; 
    font-weight: bold;
    margin-top: 40px;
    font-size: 20px;
    font: small-caps 100%/200% serif;
    font-size: 30px;
    /*font-family: "Curier New";*/
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.art{
    margin-top: 35px;
    /*centrar imagen centro*/
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}