body{
    background-image: url(imagen/fondo/fondo.jpg);
    background-size: cover;
}

#cabecera{
    margin-left: 630px;
    margin-top: 35px;
    width: 100px;
    height: 100px;
}

#inicio{
    text-align:center;
    background-color:transparent;
    font-size: 2px;
    font-family: garamont;
    margin-top: 50px;
}

#yo{
    width: 125px;
    margin-left: 630px;
    margin-top: 35px;
}

#nosotros{
    text-align:center;
    background-color:transparent;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

h2{
    margin-top: 100px;
    text-align:center;
    background-color:transparent;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(10, 7, 9);
}

h3{
    margin-top: 100px;
    text-align:center;
    background-color:transparent;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(10, 7, 9);
}

#contacto{
    margin-top: 50px;
    text-align:center;
    background-color:transparent;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(10, 7, 9);
}

p{
    text-align:center;
    background-color:transparent;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.redessociales{
    margin-left: 630px;
    margin-top: 35px;
}
button{
    cursor: pointer;
    text-align: center;
    margin: 5px; /*margen entre botones*/
    padding: 0;
    color:rgb(41, 40, 40);
    font-weight: bold;
    font-size: 1em; /*tamaño letra dentro de botones*/
    border: none;
    border-color: transparent;
    border-style: ridge;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
}

button:hover{
    background-color: rgb(204, 79, 175);
    color: whitesmoke;
}
